{% extends 'base.html' %}
{% block body %}
<form action=" {% url 'hamlet:result_C22' %}" method="get">
        <h2>번호 입력</h2>
        "1번대 로또 번호를 몇 개 원하십니까?"
        <input type="number" name="input_num_1" />
        "10번대 로또 번호를 몇 개 원하십니까?"
        <input type="number" name="input_num_10" />
        "20번대 로또 번호를 몇 개 원하십니까?"
        <input type="number" name="input_num_20" />
        "30번대 로또 번호를 몇 개 원하십니까?"
        <input type="number" name="input_num_30" />
        "40번대 로또 번호를 몇 개 원하십니까?"
        <input type="number" name="input_num_40" />


    <input type="submit" value="결과보기">
<!--        # 제출 버튼-->

{% endblock %}