{% extends 'base.html' %}
{% load static %}

{% block body %}

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <br><br><br><br><br><br><br>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </header>


  <!-- About -->
  <section class="content-section bg-light">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>moo-ra-moo-ra의 프로젝트 '너의 이름은 햄릿'</h2>
          <p class="lead mb-5">현대인들의 큰 문제인 일명 선택장애라고 불리우는 햄릿증후군의 해결을 위해 나섰습니다.
            평소에도 생각할 것이 많은 당신의 삶을 조금이라도 윤택하게 만들기 위하여 준비하였습니다.
            <a href="https://moo-ra-moo-ra.github.io/">MOO-RA-MOO-RA</a>!</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="{% url 'hamlet:moora_project_list' %}">GO!</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}